target/
build/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.DS_Store
.classpath
.project
.settings
.idea
*.iml
.pydevproject
*.pyc
*egg-info
dist/
phantomjsdriver.log
asystem-anode/src/main/python/anode/model/
asystem-anode/src/main/python/anode/web/js/model/
asystem-amodel/src/main/java/com/jag/asystem/amodel/avro/*.java
asystem-anode/src/main/python/config/*.pkl
