host: 0.0.0.0
port: 8091

# TODO: Disable publish for time being
#publish_host: 52.63.86.162
#publish_port: 8093
#publish_seconds: 4

model_pull_seconds: 30
model_pull_region: 'ap-southeast-2'
model_pull_bucket: '0-asystem-amodel'
model_pull_bucket_snapshot: '-staging'
history_path: '/mnt/timecapsule'
save_on_exit: True
save_seconds: 1800
plugin:

  # TODO: Diable until energy meter is moved to Wootoona
  #  fronius:
  #    poll_seconds: 1
  #    buffer_ticks: 120
  #    history_partitions: 15
  #    history_ticks: 10500000
  #    history_partition_seconds: 86400
  #    repeat_seconds: 99
  #    repeat_partition: True
  #    publish_ticks: -1
  #    publish_upstream: True

  kasa:
    poll_seconds: 1
    buffer_ticks: 110
    history_partitions: 15
    history_ticks: 10500000
    history_partition_seconds: 86400
    repeat_seconds: 101
    repeat_partition: True
    publish_ticks: -1
    publish_upstream: True

  # TODO: Diable until weather station is moved to Wootoona
  #  davis:
  #    poll_seconds: -1
  #    buffer_ticks: 30
  #    history_partitions: 15
  #    history_ticks: 1800000
  #    history_partition_seconds: 86400
  #    repeat_seconds: 103
  #    repeat_partition: True
  #    publish_ticks: -1
  #    publish_upstream: True

  darksky:
    poll_seconds: 300
    buffer_ticks: 5
    history_partitions: 15
    history_ticks: 1500000
    history_partition_seconds: 86400
    repeat_seconds: 111
    repeat_partition: True
    publish_ticks: -1
    publish_upstream: True
  netatmo:
    poll_seconds: 50
    buffer_ticks: 10
    history_partitions: 15
    history_ticks: 2100000
    history_partition_seconds: 86400
    repeat_seconds: 107
    repeat_partition: True
    publish_ticks: -1
    publish_upstream: True
  speedtest:
    poll_seconds: -1
    buffer_ticks: 30
    history_partitions: 15
    history_ticks: 450000
    history_partition_seconds: 86400
    repeat_seconds: 113
    repeat_partition: True
    publish_ticks: -1
    publish_upstream: True
  hue:
    poll_seconds: 1
    buffer_ticks: 110
    history_partitions: 15
    history_ticks: 10500000
    history_partition_seconds: 86400
    repeat_seconds: 117
    repeat_partition: True
    publish_ticks: -1
    publish_upstream: True

  # TODO: Disable until models retrained with new darksky features
  #  energyforecast:
  #    poll_seconds: 15
  #    buffer_ticks: 5
  #    history_partitions: 15
  #    history_ticks: 300000
  #    history_partition_seconds: 86400
  #    repeat_seconds: 115
  #    repeat_partition: True
  #    publish_ticks: -1
  #    publish_upstream: True
