body {
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 0;
    border: 0;
    padding: 0;
    height: 1px;
    border-top: 1px solid #696969;
}

div {
    border: 0;
    padding: 0;
}

.datums {
    font-size: 230%;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.datums .datum {
    overflow-x: auto;
    white-space: nowrap;
}

.datum-detail {
    display: inline-block;
    color: whitesmoke;
    padding: 0 10px 0 0;
}

/*noinspection CssUnusedSymbol*/
.datums .datum .datum-detail.up {
    color: chartreuse;
}

/*noinspection CssUnusedSymbol*/
.datums .datum .datum-detail.down {
    color: red;
}
